tests/data/types/grondwatervergunning/wfsdescribefeaturetype.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gw_vergunningen="http://dov.vlaanderen.be/grondwater/gw_vergunningen" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://dov.vlaanderen.be/grondwater/gw_vergunningen">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://www.dov.vlaanderen.be/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="alle_vergType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="installatie" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="exploitant" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="exploitant_naam" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="inrichtingsnummer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="watnr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vergunning" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vlaremrubriek" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vergund_jaardebiet" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vergund_dagdebiet" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="van_datum_termijn" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tot_datum_termijn" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="aquifer_vergunning" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vergunde_diepte_m" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vergund_aantal_putten" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="inrichtingsklasse" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vergunningverlenende_overheid_VVO" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="referentie_VVO" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="IIOA_nacebelcode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="IIOA_CBBnr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="IIOA_adres" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="grondwaterlichaam" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="actie_waakgebied" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="installatie_X_mL72" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="installatie_Y_mL72" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="exploitant_adres" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="exploitant_CBBnr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="exploitant_KBOnr" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="heffingsnummer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="exploitant_namen" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="eerste_invoer" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:GeometryPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="alle_verg" substitutionGroup="gml:AbstractFeature" type="gw_vergunningen:alle_vergType"/>
</xsd:schema>
