tests/data/types/grondwaterfilter/wfsdescribefeaturetype.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gw_meetnetten="http://dov.vlaanderen.be/grondwater/gw_meetnetten" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://dov.vlaanderen.be/grondwater/gw_meetnetten">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://www.dov.vlaanderen.be/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="meetnettenType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="GW_ID" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="putfiche" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="filternummer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="filterfiche" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="namen" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="filtergrafiek" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="putgrafiek" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="aquifer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="onderkant_filter_m" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lengte_filter_m" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="putsoort" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="filtertype" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="meetnet" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="X_mL72" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Y_mL72" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Z_mTAW" nillable="true" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="gemeente" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="grondwaterlichaam" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="afgesloten_volgens_gwdecreet" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="datum_in_filter" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="datum_uit_filter" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="stijghoogterapport" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="analyserapport" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="boornummer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="boringfiche" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="peilmetingen_van" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="peilmetingen_tot" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kwaliteitsmetingen_van" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="kwaliteitsmetingen_tot" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="recentste_exploitant" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="beheerder" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="eerste_invoer" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="recentste_installatie" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:GeometryPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="meetnetten" substitutionGroup="gml:AbstractFeature" type="gw_meetnetten:meetnettenType"/>
</xsd:schema>
