tests/data/types/generic/fixed/wfsdescribefeaturetype.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:pfas="https://www.dov.vlaanderen.be/pfas" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="https://www.dov.vlaanderen.be/pfas">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://www.dov.vlaanderen.be/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="pfas_analyseresultatenType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opdracht" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="pfasdossiernr" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="profielnaam" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="top_in_m" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="basis_in_m" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="jaar" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="datum" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="parameter" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="detectieconditie" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="meetwaarde" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="meeteenheid" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="medium" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="profieltype" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="plaatsing_profiel" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="commentaar" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="x_ml72" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="y_ml72" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:GeometryPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="pfas_analyseresultaten" substitutionGroup="gml:AbstractFeature" type="pfas:pfas_analyseresultatenType"/>
</xsd:schema>
