tests/data/types/generic/wfsdescribefeaturetype.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dov-pub="http://dov.vlaanderen.be/ocdov/dov-pub" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://dov.vlaanderen.be/ocdov/dov-pub">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://www.dov.vlaanderen.be/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="OpdrachtenType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="naam" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fiche" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="omschrijving" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="startdatum" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="einddatum" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opdrachtgever" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opdrachtnemer" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="dataleverancier" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="aard" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="origine" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="eerste_invoer" nillable="true" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:MultiSurfacePropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Opdrachten" substitutionGroup="gml:AbstractFeature" type="dov-pub:OpdrachtenType"/>
</xsd:schema>
