tests/data/types/observatie/wfsdescribefeaturetype.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:monster="http://dov.vlaanderen.be/ocdov/monster" xmlns:wfs="http://www.opengis.net/wfs/2.0" elementFormDefault="qualified" targetNamespace="http://dov.vlaanderen.be/ocdov/monster">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://oefen.dov.vlaanderen.be/geoserver/schemas/gml/3.2.1/gml.xsd"/>
  <xsd:complexType name="observatiesType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="id" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="observatie_link" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="gekoppeld_aan_link" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="parameter" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="parametergroep" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="observatietype" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="detectieconditie" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="resultaat" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="eenheid" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fenomeentijd" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="resultaattijd" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="methode" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="uitvoerder" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diepte_van_m" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diepte_tot_m" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="herkomst" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opmerking" nillable="true" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="opdracht" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geom" nillable="true" type="gml:GeometryPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="observaties" substitutionGroup="gml:AbstractFeature" type="monster:observatiesType"/>
</xsd:schema>
